<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dopamine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <!-- Loading Screen -->
    <link href="../css/loading_scrren.css" rel="stylesheet"></link>
    <script src="../js/loading_screen.js"></script>

    <!-- Material design Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body style="font-family:verdana;">
    <div style="text-align: center; padding-top: 10rem">
        <h1>
            Coming Soon! <br/> <br/> <br/>
            <a href="index.html"> 
                <i class="material-icons" style="font-size: 4rem; color: black"> home </i>    
            </a>
        </h1>
    </div>

</body>
</html>
