<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dopamine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <!-- 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuesax/dist/vuesax.css" rel="stylesheet">
</head>
<body style="font-family:verdana;">
    <div id="app" style="padding: 10px">
        <vs-row style="padding-top: 1rem">
            <vs-col vs-type="flex" vs-offset="11" vs-justify="center" vs-align="center">
                <vs-row>
                    <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="6">
                        <i class="material-icons" v-if="acquisition_server_status != 'Connected'" v-on:click="start_acquisition_server()" style="cursor: pointer;"> settings_remote </i>
                    </vs-col>
                    <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="6">
                        <i class="material-icons" v-if="acquisition_server_status == 'Connected'" data-toggle="tooltip" data-placement="bottom" title="Headset Connected!"> signal_cellular_alt </i>
                        <i class="material-icons" v-else data-toggle="tooltip" data-placement="bottom" title="Headset not connected. Press Connect and then Press Play in acquisition server"> signal_cellular_off </i>
                    </vs-col>
                </vs-row>
            </vs-col>
        </vs-row>
        <vs-row style="padding-top: 5rem">
            <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="6">
                <vs-card actionable class="cardx" style="margin: auto; width: 20rem">
                    <div slot="media">
                        <img src="../resources/img/p300_cover.gif" alt="Card image cap" style="max-width:100%; max-height:17rem;">                    
                    </div>
                    <div style="padding-top: 2rem; font-size: 12pt">
                        <div slot="header">
                            <h3>
                                P300
                            </h3>
                        </div>
                        <p style="padding-top: 1rem">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div style="padding-top: 1rem;">
                            <vs-button color="#DC143C" type="filled" href="../templates/p300_speller.html" style="font-size: 12pt">Start P300 module</vs-button>
                        </div>
                    </div>
                </vs-card>
            </vs-col>

            <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="6">
                <vs-card actionable class="cardx" style="margin: auto; width: 20rem">
                    <div slot="media">
                        <img src="../resources/img/pong_cover.gif" alt="Card image cap" style="min-width:105%; min-height:17rem;">                    
                    </div>
                    <div style="padding-top: 2rem; font-size: 12pt">
                        <div slot="header">
                            <h3>
                                Pong
                            </h3>
                        </div>
                        <p style="padding-top: 1rem">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div style="padding-top: 1rem;">
                            <vs-button color="#DC143C" type="filled" href="../templates/motor_imagery.html" style="font-size: 12pt">Start Pong module</vs-button>
                        </div>
                    </div>
                </vs-card>
            </vs-col>
        </vs-row>
    </div>
    <script src="../js/dependencies/vue.js"></script>
    <script>window.$ = window.jQuery = require('jquery');</script>
    <script src="https://cdn.jsdelivr.net/npm/vuesax/dist/vuesax.umd.js"></script>
</body>
<script src="../js/index.js"></script>
</html>
