<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dopamine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <!-- Loading Screen -->
    <link href="../css/loading_scrren.css" rel="stylesheet"></link>
    <script src="../js/loading_screen.js"></script>
    
    <!-- Vuesax Frontend -->
    <link href="../css/vuesax.css" rel="stylesheet">
</head>
<body style="font-family:verdana;">
    
    <!-- Loading Screen-->
    <div id="overlay">
        <div id="progstat"></div>
        <div id="progress"></div>
    </div>

    <!-- Actual App -->
    <div id="app" style="padding: 10px">

        <!-- Status Bar -->
        <vs-row style="padding-top: 1rem">
            <vs-col vs-type="flex" vs-offset="10" vs-justify="center" vs-align="center">
                <vs-row>
                    <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="6">
                        <img src="../resources/icons/baseline_settings_remote_black_48dp.png" v-if="acquisition_server_status != 'Connected'" v-on:click="start_acquisition_server()" style="cursor: pointer; max-width: 1.8rem;">                        
                    </vs-col>
                    <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="6">
                        <img src="../resources/icons/baseline_signal_cellular_alt_black_48dp.png" v-if="acquisition_server_status == 'Connected'" data-toggle="tooltip" data-placement="bottom" title="Player 1 Headset Connected!" style="max-width: 1.8rem;">
                        <img src="../resources/icons/baseline_signal_cellular_off_black_48dp.png" v-else data-toggle="tooltip" data-placement="bottom" title="Headset not connected. Press Connect and then Press Play in acquisition server" style="max-width: 1.8rem;">    
                    </vs-col>
                </vs-row>
            </vs-col>
        </vs-row>

        <!-- Cards start here -->
        <vs-row style="padding-top: 5rem">
            <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="6">
                <vs-card actionable class="cardx" style="margin: auto; width: 20rem">
                    <div slot="media">
                        <img src="../resources/img/p300_cover.gif" alt="Card image cap" style="max-width:100%; max-height:17rem;">                    
                    </div>
                    <div style="padding-top: 2rem; font-size: 12pt">
                        <div slot="header">
                            <h3>
                                P300
                            </h3>
                        </div>
                        <p style="padding-top: 1rem; line-height: 1.6;">In this module, you will be using your P300 ERP response to post your thoughts on the internet.</p>
                        <div style="padding-top: 1rem;">
                            <vs-button color="#DC143C" type="filled" href="../templates/p300_speller.html" style="font-size: 12pt">Start P300 module</vs-button>
                        </div>
                    </div>
                </vs-card>
            </vs-col>

            <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="6">
                <vs-card actionable class="cardx" style="margin: auto; width: 20rem">
                    <div slot="media">
                        <img src="../resources/img/pong_cover.gif" alt="Card image cap" style="min-width:105%; min-height:17rem;">                    
                    </div>
                    <div style="padding-top: 2rem; font-size: 12pt">
                        <div slot="header">
                            <h3>
                                Pong
                            </h3>
                        </div>
                        <p style="padding-top: 1rem; line-height: 1.6;">In this module, you will using your alpha waves to play a competitive game of pong with your peers.</p>
                        <div style="padding-top: 1rem;">
                            <vs-button color="#DC143C" type="filled" href="../templates/pong_using_alpha.html" style="font-size: 12pt">Start Pong module</vs-button>
                        </div>
                    </div>
                </vs-card>
            </vs-col>
        </vs-row>
    </div>
    <script src="../js/dependencies/vue.js"></script>
    <script>window.$ = window.jQuery = require('jquery');</script>
    <script src="../js/dependencies/vuesax.umd.js"></script>
</body>
<script src="../js/index.js"></script>
</html>
