<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>P300 Speller</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <!-- 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuesax/dist/vuesax.css" rel="stylesheet">
</head>
<body style="font-family:verdana;">
    <div id="app">
        <vs-row style="padding: 1rem">
            <vs-col vs-type="flex" vs-justify="left" vs-align="center" vs-w="6" style="padding-left: 1rem">
                <a href="index.html"> 
                    <i class="material-icons" style="font-size: 1.8rem; color: darkslategray"> home </i>    
                </a>
            </vs-col>
            <vs-col vs-type="flex" vs-justify="right" vs-align="center" vs-w="6">
                <vs-row vs-type="flex" vs-justify="flex-end">
                    <vs-col vs-type="flex" vs-justify="right" vs-align="right" vs-w="2">
                        <i class="material-icons" v-if="acquisition_server_status != 'Connected'" v-on:click="start_acquisition_server()" style="cursor: pointer;"> settings_remote </i>
                    </vs-col>
                    <vs-col vs-type="flex" vs-justify="right" vs-align="right" vs-w="2">
                        <i class="material-icons" v-if="acquisition_server_status == 'Connected'" data-toggle="tooltip" data-placement="bottom" title="Headset Connected!"> signal_cellular_alt </i>
                        <i class="material-icons" v-else data-toggle="tooltip" data-placement="bottom" title="Headset not connected. Press Connect and then Press Play in acquisition server"> signal_cellular_off </i>
                    </vs-col>
                </vs-row>
            </vs-col>
        </vs-row>

        <vs-row style="padding: 1rem">
            <vs-col vs-justify="center" vs-align="center" vs-w="4">
                <vs-row vs-w="12" style="padding: 1rem">
                    <vs-col  vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
                        <vs-button v-on:click="show_card('signal_monitoring_active')" style="width: 15rem"> Signal Monitoring </vs-button>
                    </vs-col>
                </vs-row>
                <vs-row vs-w="12" style="padding: 1rem">
                    <vs-col  vs-type="flex" vs-justify="center" vs-align="center">
                        <vs-button v-on:click="show_card('p300_calibration_active')" style="width: 15rem"> Calibration </vs-button>
                    </vs-col>
                </vs-row>
                <vs-row vs-w="12" style="padding: 1rem">
                    <vs-col  vs-type="flex" vs-justify="center" vs-align="center">
                        <vs-button v-on:click="show_card('p300_training_active')" style="width: 15rem"> Training </vs-button>
                    </vs-col>
                </vs-row>
                <vs-row vs-w="12" style="padding: 1rem">
                    <vs-col  vs-type="flex" vs-justify="center" vs-align="center">
                        <vs-button v-on:click="show_card('p300_online_active')" style="width: 15rem"> Online </vs-button>
                    </vs-col>
                </vs-row>
            </vs-col>
            <vs-col vs-justify="center" vs-align="center" vs-w="8">

                <vs-card v-show="active_card.signal_monitoring_active" style="width: 100%; margin: auto;">
                    <div slot="media">
                        <img src="../resources/img/signal.gif" alt="Card image cap" style="width: 100%; margin: auto">
                    </div>
                    <div style="padding-top: 2rem; padding-left: 2rem; font-size: 12pt">
                        <div slot="header">
                            <h2> Signal Monitoring </h5>
                        </div>
                        <div style="padding-top: 1rem">
                            In this section you will observe the effects of EOG (mainly eye blinks) and facial muscle movements on EEG data.
                            <ol>
                                <li>Make sure the connection status says <b>connected</b></li>
                                <li>Click <b>Begin Signal Monitoring</b> when ready</li>
                                <li>A new windows now shows raw data received from the headset in the top row and filtered EEG data in the bottom row</li>
                                <li>Notice how the filtered EEG data looks smoother then the raw data. This is because of the high frequency noise being removed using a bandpass filter (1-20Hz).</li>
                                <li>Notice eye blinks at channels F3 and F4</li>
                                <li>Ask the participant to clinch their teeth and notice the random changes in EEG data across all channels</li>
                                <li>Proceed to the Calibration Stage</li>
                            </ol>    
                        </div>
                        <div style="padding-top: 1rem">
                            <vs-button v-on:click="run_p300_signal_monitoring()"> Begin Signal Monitoring </vs-button>
                        </div>
                    </div>
                </vs-card>

                <vs-card v-show="active_card.p300_calibration_active" style="width: 100%; margin: auto;">
                    <div slot="media">
                        <img src="../resources/img/data.gif" alt="Card image cap" style="width: 40%; margin: auto">
                    </div>
                    <div style="padding-top: 2rem; padding-left: 1rem; font-size: 12pt">
                        <div slot="header">
                            <h2> P300 Calibration </h5>
                        </div>
                        <div style="padding-top: 1rem">
                            <label for="basic-url">No. of Trials:</label>
                            <input class="form-control m-1" placeholder="10" aria-label="10" aria-describedby="basic-addon1" v-model="n_acq_trials"></input>
                            <label for="basic-url">No. of Repetitions:</label>
                            <input v-model="n_acq_repetitions" class="form-control m-1" placeholder="10" aria-label="10" aria-describedby="basic-addon1" ></input> <br/><br/>                                
                            Some quick example text to build on the card title and make up the bulk of the card's content 
                        </div>
                        <div style="padding-top: 1rem">
                            <vs-button v-on:click="run_p300_calibration()"> Start calibration </vs-button>
                        </div>
                    </div>
                </vs-card>

                <vs-card v-show="active_card.p300_training_active" style="width: 100%; margin: auto;">
                    <div slot="media">
                        <img src="../resources/img/classifier.png" alt="Card image cap" style="width: 52%; margin: auto">
                    </div>
                    <div style="padding-top: 2rem; padding-left: 1rem; font-size: 12pt">
                        <div slot="header">
                            <h2> P300 Training </h5>
                        </div>
                        <div style="padding-top: 1rem">
                        <br/>
                            <vs-button v-on:click="get_recent_ov_file()"> Get recent calibration file </vs-button> 
                            File used to train: {{get_recent_ov_file()}} {{p300_recent_ov_file}}
                        </div>
                        <br/>
                        <vs-button v-if="p300_spatial_filter_training==false" v-on:click="run_p300_spatial_filter_training()"> Train XDAWN </vs-button>
                        <vs-button v-if="p300_spatial_filter_training==true" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Training XDAWN...
                        </vs-button>
                        <vs-button v-if="p300_lda_training==false" v-on:click="run_p300_lda_training()" :disabled="!p300_start_lda_training"> Train LDA </vs-button>
                        <vs-button v-if="p300_lda_training==true" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Training LDA...
                        </vs-button>
                    </div>
                </vs-card>

                <vs-card v-show="active_card.p300_online_active" style="width: 100%; margin: auto;">
                    <div slot="media">
                        <img src="../resources/img/bci.gif" alt="Card image cap" style="width: 100%; margin: auto">
                    </div>
                    <div style="padding-top: 2rem; padding-left: 1rem; font-size: 12pt">
                        <div slot="header">
                            <h2> P300 Online </h5>
                        </div>
                        <div style="padding-top: 1rem">
                            Some quick example text to build on the card title and make up the bulk of the card's content 
                        </div>
                        <div style="padding-top: 1rem">
                            <vs-button v-on:click="run_p300_online()"> Start Online </vs-button>
                        </div>
                    </div>
                </vs-card>

            </vs-col>
        </vs-row>
        <vs-row v-show="active_card.p300_training_active || active_card.p300_online_active" style="padding: 1rem;">
            <vs-card style="width: 100%; margin: auto;">
                <div style="padding-top: 2rem; padding-left: 1rem; font-size: 12pt">
                    <div slot="header">
                        <h2> Training Results </h5>
                    </div>
                    <div style="padding-top: 1rem">
                        <pre> {{console_output}} </pre>
                    </div>
                </div>
            </vs-card>
        </vs-row>
    </div>
    <script src="../js/dependencies/vue.js"></script>
    <script>window.$ = window.jQuery = require('jquery');</script>
    <script src="https://cdn.jsdelivr.net/npm/vuesax/dist/vuesax.umd.js"></script>
</body>
<script src="../js/p300_speller.js"></script>
</html>
