<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>P300 Speller</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <!-- Loading Screen -->
    <link href="../css/loading_scrren.css" rel="stylesheet"></link>
    <script src="../js/loading_screen.js"></script>

    <!-- Material design Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Vuesax Frontend -->
    <link href="https://cdn.jsdelivr.net/npm/vuesax/dist/vuesax.css" rel="stylesheet">

    <!-- Animation Library -->
    <link rel="stylesheet" href="../css/animation.css">

    <style>
    .selected {
        background: #DC143C !important;
        box-shadow: 0px 10px 40px -10px rgba(220, 20, 60, .9);
        color: #fff !important
    }
    .unselected {
        background: #FFFFFF !important;
        box-shadow: 0px 10px 40px -10px rgba(181, 180, 180, 0.9);
    }
    html {
    overflow: scroll;
    overflow-x: hidden;
    }
    ::-webkit-scrollbar {
        width: 0px;  /* remove scrollbar space */
        background: transparent;  /* optional: just make scrollbar invisible */
    }
    /* optional: show position indicator in red */
    ::-webkit-scrollbar-thumb {
        background: #FF0000;
    }
    </style>

</head>
<body style="font-family:verdana;">
    
    <!-- Loading Screen-->
    <div id="overlay">
        <div id="progstat"></div>
        <div id="progress"></div>
    </div>

    <!-- Actual App -->
    <div id="app" style="padding: 10px">
        
        <!-- Status Bar -->
        <vs-row style="padding: 1rem"  vs-align="center">
            <vs-col vs-justify="left" vs-align="center" vs-w="6">
                <a href="index.html"> 
                    <i class="material-icons" style="font-size: 1.8rem; color: black"> home </i>    
                </a>
            </vs-col>
            <vs-col vs-offset="4" vs-align="center" vs-w="2">
                <vs-row>
                    <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="6">
                        <i class="material-icons" v-if="acquisition_server_status != 'Connected'" v-on:click="start_acquisition_server()" style="cursor: pointer;"> settings_remote </i>
                    </vs-col>
                    <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="6">
                        <i class="material-icons" v-if="acquisition_server_status == 'Connected'" data-toggle="tooltip" data-placement="bottom" title="Headset Connected!"> signal_cellular_alt </i>
                        <i class="material-icons" v-else data-toggle="tooltip" data-placement="bottom" title="Headset not connected. Press Connect and then Press Play in acquisition server"> signal_cellular_off </i>
                    </vs-col>
                </vs-row>
            </vs-col>
        </vs-row>

        <vs-row style="padding: 1rem">
            <vs-col vs-justify="center" vs-align="center" vs-w="4">
                <vs-row vs-w="12" style="padding: 1rem">
                    <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
                        <!-- <vs-button v-on:click="show_card('signal_monitoring_active')" style="width: 15rem"> Signal Monitoring </vs-button> -->
                        <a v-on:click="show_card('signal_monitoring_active')" style="width: 80%;">
                            <vs-card actionable class="cardx" :class="change_button('signal_monitoring_active')"> 
                                <div style="padding: 0.4rem; padding-top: 1rem; padding-bottom: 1rem" align="center" slot="header">
                                  <h4>
                                    Signal Monitoring
                                  </h4>
                                </div>
                            </vs-card>
                        </a>
                    </vs-col>
                </vs-row>
                <vs-row vs-w="12" style="padding: 1rem">
                    <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
                        <a v-on:click="show_card('p300_calibration_active')" style="width: 80%;">
                            <vs-card actionable class="cardx" :class="change_button('p300_calibration_active')"> 
                                <div style="padding: 0.4rem; padding-top: 1rem; padding-bottom: 1rem" align="center" slot="header">
                                  <h4>
                                    Calibration
                                  </h4>
                                </div>
                            </vs-card>
                        </a>
                    </vs-col>
                </vs-row>
                <vs-row vs-w="12" style="padding: 1rem">
                    <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
                        <a v-on:click="show_card('p300_training_active')" style="width: 80%;">
                            <vs-card actionable class="cardx" :class="change_button('p300_training_active')"> 
                                <div style="padding: 0.4rem; padding-top: 1rem; padding-bottom: 1rem" align="center" slot="header">
                                  <h4>
                                    Training
                                  </h4>
                                </div>
                            </vs-card>
                        </a>
                    </vs-col>
                </vs-row>
                <vs-row vs-w="12" style="padding: 1rem">
                    <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
                        <a v-on:click="show_card('p300_online_active')" style="width: 80%;">
                            <vs-card actionable class="cardx" :class="change_button('p300_online_active')"> 
                                <div style="padding: 0.4rem; padding-top: 1rem; padding-bottom: 1rem" align="center" slot="header">
                                  <h4>
                                    Online
                                  </h4>
                                </div>
                            </vs-card>
                        </a>
                    </vs-col>
                </vs-row>
            </vs-col>
            <vs-col vs-justify="center" vs-align="center" vs-w="8">

                <vs-card class="animated slideInUp faster" v-show="active_card.signal_monitoring_active" style="width: 100%; margin: auto; animation-duration: 200ms;">
                    <div slot="media">
                        <img src="../resources/img/signal.gif" alt="Card image cap" style="width: 100%; margin: auto">
                    </div>
                    <div style="padding: 1rem; font-size: 12pt">
                        <div slot="header">
                            <h2 style="padding-top: 1rem"> Signal Monitoring </h5>
                        </div>
                        <div style="padding-top: 2rem; line-height: 1.6;">
                            In this section you will observe your brain activity being recorded from the EEG system! Please read the following instructions carefully before continuing:
                            <ol style="padding-left: 2rem;">
                                <li>Make sure the connection status says <b>Headset Connected!</b></li>
                                <dl>
                                    <li>When you click on <b>Begin Signal Monitoring</b>, a new window will show raw data being received from the headset in the top row and filtered EEG data in the bottom row</li>
                                    <ul>
                                        <dd><li>Notice how the filtered EEG data looks smoother then the raw data. This is because of the high frequency noise is being removed using a bandpass filter (1-20Hz).</dd>
                                    </ul>
                                        <dt><li>It's also important to check the impedance levels of the electrodes to make sure they're getting good quality data</li></dt>
                                        <ul>
                                            <dd><li>Click on the "Channels" tab in the cognionics data acquisition window and make sure the eight electrodes on the bottom right-hand side of the screen are all green</dd>
                                            <dd><li>If one or more electrode channels are not solid green, try readjusting the individual electrodes on the EEG equipment and make sure they're all touching your head until the impedances turn green</dd>
                                            <dd><li>When all the electrodes are green on your impedance check, you can move on to the next step</dd>
                                        </ul>
                                            <dt><li>When you blink your eyes during an EEG recording, you'll notice a specific type of EEG activity happening in channels F3 and F4</li></dt>
                                    <ul>
                                        <dd><li>The type of activity that should be elicited from eye blinks is a positive spike</dd>
                                        <dd><li>Notice that the electrodes farther away from your eyes (i.e. P3, P4, O1, and O2) have a spike with a lower amplitude than that of electrodes F3 and F4</dd>
                                    </ul>
                                </dl>
                                <li>Lastly, if you clench your teeth, or scrunch up your face like your angry, you'll notice a sudden change in EEG frequencies corresponding to this behavior</li>
                                <li>Click <b>Begin Signal Monitoring</b> when ready!</li>
                                <li>Once you've made sure the EEG is recording properly (your eyeblinks and clenched face activity is showing and your impedance check is all green) proceed to the Calibration Stage</li>
                            </ol>    
                        </div>
                        <div style="padding-top: 1rem;">
                            <vs-button color="#DC143C" type="filled" v-on:click="run_p300_signal_monitoring()" style="font-size: 12pt"> Begin Signal Monitoring </vs-button>
                        </div>
                    </div>
                </vs-card>

                <vs-card class="animated slideInUp faster" v-show="active_card.p300_calibration_active" style="width: 100%; margin: auto; animation-duration: 200ms;">
                    <div slot="media">
                        <img src="../resources/img/data.gif" alt="Card image cap" style="width: 40%; margin: auto">
                    </div>
                    <div style="padding: 1rem; font-size: 12pt">
                        <div slot="header">
                            <h2 style="padding-top: 1rem"> P300 Calibration </h5>
                        </div>
                        <div style="padding-top: 1rem; line-height: 1.6;">
                            <vs-row>
                                <vs-col vs-w="6">
                                    <vs-input color="#DC143C" label-placeholder="No. of Trials:" v-model="n_acq_trials"/>
                                </vs-col>
                                <vs-col vs-w="6">
                                    <vs-input color="#DC143C" label-placeholder="No. of Repetitions:" v-model="n_acq_repetitions"/>                               
                                </vs-col>
                            </vs-row>
                            <vs-row>
                                <vs-col vs-w="12" style="padding-top: 1rem;">
                                For P300 Speller to work properly, we need to calibrate the system so that it can make sense of your brain activity; it is critically important that you read and follow the following instructions carefully:
                                    <ol style="padding-left: 2rem;">
                                        <li>When you click <b>Start Calibration</b>, a black window will pop-up on your screen: maximize the window if it is not already maximized</li>
                                        <li>In this black window, a matrix of letters, A-Z, and numbers, 0-9, will appear, followed by one of these characters being highlighted in blue</li>
                                        <li>Your job is to stare and focus on the highlighted character for the duration of the trial</li>
                                        <dt><li>During the trial, an entire row of characters will flash for a split-second followed by an entire column of characters being flashed for a split-second (or vice versa)</li></dt>
                                        <dt><li>Count the number of times the letter highlighted (character you should be focusing on) in blue flashes and repeat this for the entire duration of the trial</li></dt>
                                        <li>After one trial is completed, another character will be highlighted in blue, thus signaling the start of a new trial and a new character you must fixate and focus on</li>
                                        <li>The calibration session will continue automatically until it has ended; when the calibration session ends, you can move on to the <b>P300 Training</b> session</li>
                                        <li>To begin the calibration session, click <b>Start Calibration</b> </li>
                                    </ol>
                                </vs-col>
                            </vs-row>
                        </div>
                        <div style="padding-top: 1rem">
                            <vs-button color="#DC143C" type="filled" v-on:click="run_p300_calibration()" style="font-size: 12pt"> Start Calibration </vs-button>
                        </div>
                    </div>
                </vs-card>

                <vs-card class="animated slideInUp faster" v-show="active_card.p300_training_active" style="width: 100%; margin: auto; animation-duration: 200ms;">
                    <div slot="media">
                        <img src="../resources/img/classifier.png" alt="Card image cap" style="width: 52%; margin: auto">
                    </div>
                    <div style="padding: 1rem; font-size: 12pt; line-height: 1.6;">
                        <div slot="header">
                            <h2 style="padding-top: 1rem"> P300 Training </h5>
                        </div>
                        <vs-row>
                            <vs-col vs-w="12" style="padding-top: 1rem; padding-left: 2rem;">
                                <ul>
                                    <li>This session is training a classifier to take your previously collected calibration data and predict the occurrence of a P300 wave</li>
                                    <li>In the next session, you will form words by choosing letters and numbers</li>
                                    <li>The P300 Speller system will predict which character you chose based on the elicited P300 waves in your EEG activity</li>     
                                    <li>To begin the training session, first click <b>Get Calibration File</b> followed by <b>Train XDAWN</b> and, once that has been completed, finally click <b>Train LDA</b></li>          
                                </ul>
                            </vs-col>
                        </vs-row>
                        <vs-row style="padding-top: 1rem;">
                            <vs-col vs-w="4">
                                <vs-button color="#DC143C" type="filled" v-on:click="get_recent_ov_file()" style="font-size: 12pt"> 1. Get Calibration File </vs-button>
                            </vs-col>
                            <vs-col vs-w="4">
                                <vs-button color="#DC143C" type="filled" v-if="p300_spatial_filter_training==false" v-on:click="run_p300_spatial_filter_training()" style="font-size: 12pt"> 2. Train XDAWN </vs-button>
                                <vs-button color="#DC143C" type="filled" v-if="p300_spatial_filter_training==true" type="button" style="font-size: 12pt" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Training XDAWN...
                                </vs-button>
                            </vs-col>
                            <vs-col vs-w="4">
                                <vs-button color="#DC143C" type="filled" v-if="p300_lda_training==false" v-on:click="run_p300_lda_training()" :disabled="!p300_start_lda_training" style="font-size: 12pt"> 3. Train LDA </vs-button>
                                <vs-button color="#DC143C" type="filled" v-if="p300_lda_training==true" type="button" style="font-size: 12pt" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Training LDA...
                                </vs-button>
                            </vs-col>
                        </vs-row>
                    </div>
                </vs-card>

                <vs-card class="animated slideInUp faster" v-show="active_card.p300_online_active" style="width: 100%; margin: auto; animation-duration: 200ms;">
                    <div slot="media">
                        <img src="../resources/img/bci.gif" alt="Card image cap" style="width: 100%; margin: auto">
                    </div>
                    <div style="padding: 1rem; font-size: 12pt; line-height: 1.6;">
                        <div slot="header">
                            <h2 style="padding-top: 1rem"> P300 Online </h5>
                        </div>
                        <vs-row style="padding-top: 1rem;">
                            <vs-col>
                                <!-- <vs-input color="#DC143C" label-placeholder="Enter Group Name" v-model="group_name"/>    -->
                                <vs-input color="#DC143C" label="Enter Group Name" v-model="group_name"/>                            
                            </vs-col>
                        </vs-row>
                        <vs-row style="padding-top: 1rem">
                            <vs-col>
                                Now that the system has been calibrated and trained to your P300 wave, you'll be able to form words of your own! Please read the following instructions carefully before continuing:
                                <ol style="padding-left: 2rem;">
                                <li>After you press <b>Start Online</b> a black window will appear like in the calibration session</li>
                                <li>Just like the calibration session a matrix of letters, A-Z, and numbers, 0-9, will appear</li>
                                <li>This time, instead of a letter being highlighted for you, you get to choose the letter</li>
                                <li>Pick whichever letter from the matrix you desire and focus on that character for the duration of the trial just like you did in the calibration session</li>
                                <li>You will focus and stare at the character you chose while an entire row of characters will flash for a split-second followed by an entire column of characters being flashed for a split-second (or vice versa). Don't forget 
                                    to count the number of times your desired character flashes
                                </li>
                                <li>At the end of a trial, a character will be highlighted in green (this should be the character you chose and were fixated on)</li>
                                <li>This highlighted character will then be recorded in a textbox at the bottom of the screen</li>
                                <li>After the character you chose is highlighted in green, choose another character to focus on for the next trial, and so on and so forth, until your desired word has been created!</li>
                                <li>Focus on any number to post your word to indicate the completion of your word and post it on the class live feed</li>  
                                <li>Whenever you're ready to put your thoughts into words, go ahead and press <b>Start Online</b></li>
                            </ol>
                            </vs-col>
                        </vs-row>
                        <vs-row style="padding-top: 1rem">
                            <vs-col vs-w="6">
                                <vs-button style="font-size: 12pt" color="#DC143C" type="filled" v-on:click="run_p300_online()"> Start Online </vs-button>
                            </vs-col>
                        </vs-row>
                    </div>
                </vs-card>
            </vs-col>
        </vs-row>
        <vs-row style="padding: 1rem;">
        <vs-card class="animated slideInUp faster" v-show="active_card.p300_training_active || active_card.p300_online_active" style="width: 100%; margin: auto; animation-duration: 200ms;">
                <div style="padding-top: 1rem; padding-left: 1rem; font-size: 12pt">
                    <div slot="header">
                        <h2> Console </h5>
                    </div>
                    <div style="padding-top: 1rem">
                        <pre> {{console_output}} </pre>
                    </div>
                </div>
            </vs-card>
        </vs-row>
    </div>
    <script src="../js/dependencies/vue.js"></script>
    <script>window.$ = window.jQuery = require('jquery');</script>
    <script src="https://cdn.jsdelivr.net/npm/vuesax/dist/vuesax.umd.js"></script>
</body>
<script src="../js/p300_speller.js"></script>
</html>
