<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pong using Alpha Waves</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <!-- Loading Screen -->
    <link href="../css/loading_scrren.css" rel="stylesheet"></link>
    <script src="../js/loading_screen.js"></script>

    <!-- Material design Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Vuesax Frontend -->
    <link href="../css/vuesax.css" rel="stylesheet">

    <!-- Animation Library -->
    <link rel="stylesheet" href="../css/animation.css">

    <style>
    .selected {
        background: #DC143C !important;
        box-shadow: 0px 10px 40px -10px rgba(220, 20, 60, .9);
        color: #fff !important
    }
    .unselected {
        background: #FFFFFF !important;
        box-shadow: 0px 10px 40px -10px rgba(181, 180, 180, 0.9);
    }
    html {
    overflow: scroll;
    overflow-x: hidden;
    }
    ::-webkit-scrollbar {
        width: 0px;  /* remove scrollbar space */
        background: transparent;  /* optional: just make scrollbar invisible */
    }
    /* optional: show position indicator in red */
    ::-webkit-scrollbar-thumb {
        background: #FF0000;
    }
    </style>

</head>
<body style="font-family:verdana;">
    
    <!-- Loading Screen-->
    <div id="overlay">
        <div id="progstat"></div>
        <div id="progress"></div>
    </div>

    <!-- Actual App -->
    <div id="app" style="padding: 10px">
        
        <!-- Status Bar -->
        <vs-row style="padding: 1rem"  vs-align="center">
            <vs-col vs-justify="left" vs-align="center" vs-w="6">
                <vs-row>
                    <vs-col vs-w="4">
                        <a href="index.html"> 
                            <i class="material-icons" style="font-size: 1.8rem; color: black"> home </i>    
                        </a>
                    </vs-col>
                    <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="2">
                        <i class="material-icons" v-if="acquisition_server_status_2 != 'Connected'" v-on:click="start_acquisition_server()" style="cursor: pointer;"> settings_remote </i>
                    </vs-col>
                    <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="2">
                        <i class="material-icons" v-if="acquisition_server_status_2 == 'Connected'" data-toggle="tooltip" data-placement="bottom" title="Player 2 Headset Connected!"> signal_cellular_alt </i>
                        <i class="material-icons" v-else data-toggle="tooltip" data-placement="bottom" title="Headset not connected. Press Connect and then Press Play in acquisition server"> signal_cellular_off </i>
                    </vs-col>
                </vs-row>
            </vs-col>
            <vs-col vs-offset="4" vs-align="center" vs-w="2">
                <vs-row>
                    <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="6">
                        <i class="material-icons" v-if="acquisition_server_status != 'Connected'" v-on:click="start_acquisition_server()" style="cursor: pointer;"> settings_remote </i>
                    </vs-col>
                    <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="6">
                        <i class="material-icons" v-if="acquisition_server_status == 'Connected'" data-toggle="tooltip" data-placement="bottom" title="Player 1 Headset Connected!"> signal_cellular_alt </i>
                        <i class="material-icons" v-else data-toggle="tooltip" data-placement="bottom" title="Headset not connected. Press Connect and then Press Play in acquisition server"> signal_cellular_off </i>
                    </vs-col>
                </vs-row>
            </vs-col>
        </vs-row>

        <vs-row style="padding: 1rem">
            <vs-col vs-justify="center" vs-align="center" vs-w="4">
                <vs-row vs-w="12" style="padding: 1rem">
                    <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
                        <!-- <vs-button v-on:click="show_card('signal_monitoring_active')" style="width: 15rem"> Signal Monitoring </vs-button> -->
                        <a v-on:click="show_card('signal_monitoring_active')" style="width: 80%;">
                            <vs-card actionable class="cardx" :class="change_button('signal_monitoring_active')"> 
                                <div style="padding: 0.4rem; padding-top: 1rem; padding-bottom: 1rem" align="center" slot="header">
                                  <h4>
                                    Signal Monitoring
                                  </h4>
                                </div>
                            </vs-card>
                        </a>
                    </vs-col>
                </vs-row>
                <vs-row vs-w="12" style="padding: 1rem">
                    <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
                        <a v-on:click="show_card('alpha_pong_calibration_active')" style="width: 80%;">
                            <vs-card actionable class="cardx" :class="change_button('alpha_pong_calibration_active')"> 
                                <div style="padding: 0.4rem; padding-top: 1rem; padding-bottom: 1rem" align="center" slot="header">
                                  <h4>
                                    Calibration
                                  </h4>
                                </div>
                            </vs-card>
                        </a>
                    </vs-col>
                </vs-row>
                <vs-row vs-w="12" style="padding: 1rem">
                    <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
                        <a v-on:click="show_card('alpha_pong_single_player')" style="width: 80%;">
                            <vs-card actionable class="cardx" :class="change_button('alpha_pong_single_player')"> 
                                <div style="padding: 0.4rem; padding-top: 1rem; padding-bottom: 1rem" align="center" slot="header">
                                  <h4>
                                    Single Player
                                  </h4>
                                </div>
                            </vs-card>
                        </a>
                    </vs-col>
                </vs-row>
                <vs-row vs-w="12" style="padding: 1rem">
                    <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
                        <a v-on:click="show_card('alpha_pong_multi_player')" style="width: 80%;">
                            <vs-card actionable class="cardx" :class="change_button('alpha_pong_multi_player')"> 
                                <div style="padding: 0.4rem; padding-top: 1rem; padding-bottom: 1rem" align="center" slot="header">
                                  <h4>
                                    Multiplayer Player
                                  </h4>
                                </div>
                            </vs-card>
                        </a>
                    </vs-col>
                </vs-row>
            </vs-col>
            <vs-col vs-justify="center" vs-align="center" vs-w="8">

                <vs-card class="animated slideInUp faster" v-show="active_card.signal_monitoring_active" style="width: 100%; margin: auto; animation-duration: 200ms;">
                    <div slot="media">
                        <img src="../resources/img/pong_signal.gif" alt="Card image cap" style="max-width: 40%; margin: auto">
                    </div>
                    <div style="padding: 1rem; font-size: 12pt">
                        <div slot="header">
                            <h2 style="padding-top: 1rem"> Signal Monitoring </h5>
                        </div>
                        <div style="padding-top: 2rem; line-height: 1.6;">
                            In this section you will observe your brain activity being recorded from the EEG system! Please read the following instructions carefully before continuing:
                            <ol style="padding-left: 2rem;">
                                <li>Make sure the connection status says <b>Headset Connected!</b></li>
                                <dl>
                                    <li>When you click on <b>Begin Signal Monitoring</b>, a new window will show raw data being received from the headset in the top row and filtered EEG data in the bottom row</li>
                                    <ul>
                                        <dd><li>Notice how the filtered EEG data looks smoother then the raw data. This is because of the high frequency noise is being removed using a bandpass filter (1-20Hz).</dd>
                                    </ul>
                                        <dt><li>It's also important to check the impedance levels of the electrodes to make sure they're getting good quality data</li></dt>
                                        <ul>
                                            <dd><li>Click on the "Channels" tab in the cognionics data acquisition window and make sure the eight electrodes on the bottom right-hand side of the screen are all green</dd>
                                            <dd><li>If one or more electrode channels are not solid green, try readjusting the individual electrodes on the EEG equipment and make sure they're all touching your head until the impedances turn green</dd>
                                            <dd><li>When all the electrodes are green on your impedance check, you can move on to the next step</dd>
                                        </ul>
                                            <dt><li>When you blink your eyes during an EEG recording, you'll notice a specific type of EEG activity happening in channels F3 and F4</li></dt>
                                    <ul>
                                        <dd><li>The type of activity that should be elicited from eye blinks is a positive spike</dd>
                                        <dd><li>Notice that the electrodes farther away from your eyes (i.e. P3, P4, O1, and O2) have a spike with a lower amplitude than that of electrodes F3 and F4</dd>
                                    </ul>
                                </dl>
                                <li>Lastly, if you clench your teeth, or scrunch up your face like your angry, you'll notice a sudden change in EEG frequencies corresponding to this behavior</li>
                                <li>Click <b>Begin Signal Monitoring</b> when ready!</li>
                                <li>Once you've made sure the EEG is recording properly (your eyeblinks and clenched face activity is showing and your impedance check is all green) proceed to the Calibration Stage</li>
                            </ol>    
                        </div>
                        <div style="padding-top: 1rem;">
                            <vs-button color="#DC143C" type="filled" v-on:click="run_alpha_signal_monitoring()" style="font-size: 12pt"> Begin Signal Monitoring </vs-button>
                        </div>
                    </div>
                </vs-card>

                <vs-card class="animated slideInUp faster" v-show="active_card.alpha_pong_calibration_active" style="width: 100%; margin: auto; animation-duration: 200ms;">
                    <div slot="media">
                        <img src="../resources/img/pong_calibration.gif" alt="Card image cap" style="max-width: 80%; margin: auto">
                    </div>
                    <div style="padding: 1rem; font-size: 12pt">
                        <div slot="header">
                            <h2 style="padding-top: 1rem"> Alpha Wave Calibration </h5>
                        </div>
                        <div style="padding-top: 1rem; line-height: 1.6;">
                            <vs-row>
                                <vs-col vs-w="4">
                                    <vs-input color="#DC143C" label-placeholder="Min Crop Value" v-model="min_crop_value_1"/>
                                </vs-col>
                                <vs-col vs-w="4">
                                    <vs-input color="#DC143C" label-placeholder="Max Crop Value" v-model="max_crop_value_1"/>                               
                                </vs-col>
                                <vs-col vs-w="4">
                                    <vs-input color="#DC143C" label-placeholder="Offset" v-model="signal_offset_1"/>                               
                                </vs-col>
                            </vs-row>
                            <vs-row>
                                <vs-col vs-w="12" style="padding-top: 1rem;">
                                    Calibration Description
                                    <ol style="padding-left: 2rem;">
                                        <li>Test</li>
                                    </ol>
                                </vs-col>
                            </vs-row>
                        </div>
                        <div style="padding-top: 1rem">
                            <vs-button color="#DC143C" type="filled" v-on:click="run_alpha_signal_calibration()" style="font-size: 12pt"> Start Calibration </vs-button>
                        </div>
                    </div>
                </vs-card>

                <vs-card class="animated slideInUp faster" v-show="active_card.alpha_pong_single_player" style="width: 100%; margin: auto; animation-duration: 200ms;">
                    <div slot="media">
                        <img src="../resources/img/single_pong.gif" alt="Card image cap" height="350" style="min-width: 100%; min-height: 100px; margin: auto">
                    </div>
                    <div style="padding: 1rem; font-size: 12pt; line-height: 1.6;">
                        <div slot="header">
                            <h2 style="padding-top: 1rem"> Single Player </h5>
                        </div>
                        <vs-row>
                            <vs-col vs-w="4">
                                <vs-input color="#DC143C" label-placeholder="Min Crop Value" v-model="min_crop_value_1"/>
                            </vs-col>
                            <vs-col vs-w="4">
                                <vs-input color="#DC143C" label-placeholder="Max Crop Value" v-model="max_crop_value_1"/>                               
                            </vs-col>
                            <vs-col vs-w="4">
                                <vs-input color="#DC143C" label-placeholder="Offset" v-model="signal_offset_1"/>                               
                            </vs-col>
                        </vs-row>
                        <vs-row>
                            <vs-col vs-w="12" style="padding-top: 1rem; padding-left: 2rem;">
                                Description
                                <ul>
                                    <li>Test</li>
                                </ul>
                            </vs-col>
                        </vs-row>
                        <vs-row style="padding-top: 1rem;">
                            <vs-col vs-w="4">
                                <vs-button color="#DC143C" type="filled" v-on:click="run_single_player_pong()" style="font-size: 12pt"> Start Game </vs-button>
                            </vs-col>
                        </vs-row>
                    </div>
                </vs-card>

                <vs-card class="animated slideInUp faster" v-show="active_card.alpha_pong_multi_player" style="width: 100%; margin: auto; animation-duration: 200ms;">
                    <div slot="media">
                        <img src="../resources/img/multiplayer_pong.gif" alt="Card image cap" height="350" style="width: 100%; margin: auto">
                    </div>
                    <div style="padding: 1rem; font-size: 12pt; line-height: 1.6;">
                        <div slot="header">
                            <h2 style="padding-top: 1rem"> Multiplayer </h5>
                        </div>
                        <vs-row style="padding-top: 1rem;">
                            <vs-row>
                                <vs-col vs-w="3" style="padding-top: 1rem;">Player 1:</vs-col>
                                <vs-col vs-w="3">
                                    <vs-input style="width:70%" color="#DC143C" label-placeholder="Min Crop Value" v-model="min_crop_value_1"/>
                                </vs-col>
                                <vs-col vs-w="3">
                                    <vs-input style="width:70%" color="#DC143C" label-placeholder="Max Crop Value" v-model="max_crop_value_1"/>                               
                                </vs-col>
                                <vs-col vs-w="3">
                                    <vs-input style="width:70%" color="#DC143C" label-placeholder="Offset" v-model="signal_offset_1"/>                               
                                </vs-col>
                            </vs-row>
                            <vs-row style="padding-top:1rem;">
                                <vs-col vs-w="3" style="padding-top: 1rem;">Player 2:</vs-col>
                                <vs-col vs-w="3">
                                    <vs-input style="width:70%" color="#DC143C" label-placeholder="Min Crop Value" v-model="min_crop_value_2"/>
                                </vs-col>
                                <vs-col vs-w="3">
                                    <vs-input style="width:70%" color="#DC143C" label-placeholder="Max Crop Value" v-model="max_crop_value_2"/>                               
                                </vs-col>
                                <vs-col vs-w="3">
                                    <vs-input style="width:70%" color="#DC143C" label-placeholder="Offset" v-model="signal_offset_2"/>                               
                                </vs-col>
                            </vs-row>
                        </vs-row>
                        <vs-row style="padding-top: 1rem">
                            <vs-col>
                                Description
                                <ol style="padding-left: 2rem;">
                                    <li>Test</li>
                                </ol>
                            </vs-col>
                        </vs-row>
                        <vs-row style="padding-top: 1rem">
                            <vs-col vs-w="6">
                                <vs-button color="#DC143C" type="filled" v-on:click="run_multi_player_pong()" style="font-size: 12pt"> Start Game </vs-button>
                            </vs-col>
                        </vs-row>
                    </div>
                </vs-card>
            </vs-col>
        </vs-row>
    </div>
    <script src="../js/dependencies/vue.js"></script>
    <script>window.$ = window.jQuery = require('jquery');</script>
    <script src="../js/dependencies/vuesax.umd.js"></script>
</body>
<script src="../js/pong_using_alpha.js"></script>
</html>
